<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>余额宝</string>
			<key>icon</key>
			<string>icon_01</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>转账</string>
			<key>icon</key>
			<string>icon_02</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>天猫超市</string>
			<key>icon</key>
			<string>icon_03</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>股票</string>
			<key>icon</key>
			<string>icon_04</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>我的客服</string>
			<key>icon</key>
			<string>icon_05</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>滴滴出行</string>
			<key>icon</key>
			<string>icon_06</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>手机充值</string>
			<key>icon</key>
			<string>icon_07</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>信用卡还款</string>
			<key>icon</key>
			<string>icon_08</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>生活缴费</string>
			<key>icon</key>
			<string>icon_09</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>城市服务</string>
			<key>icon</key>
			<string>icon_10</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>服务窗</string>
			<key>icon</key>
			<string>icon_11</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>我的快递</string>
			<key>icon</key>
			<string>icon_12</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>记帐本</string>
			<key>icon</key>
			<string>icon_13</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>加油服务</string>
			<key>icon</key>
			<string>icon_14</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>羊城通充值</string>
			<key>icon</key>
			<string>icon_15</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>发票管家</string>
			<key>icon</key>
			<string>icon_16</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>境外流量</string>
			<key>icon</key>
			<string>icon_17</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>红包</string>
			<key>icon</key>
			<string>icon_18</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>亲情账户</string>
			<key>icon</key>
			<string>icon_19</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>收款</string>
			<key>icon</key>
			<string>icon_20</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>AA收款</string>
			<key>icon</key>
			<string>icon_21</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>亲密付</string>
			<key>icon</key>
			<string>icon_22</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>上银汇款</string>
			<key>icon</key>
			<string>icon_23</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>话费卡转让</string>
			<key>icon</key>
			<string>icon_24</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>游戏中心</string>
			<key>icon</key>
			<string>icon_25</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>世界那么大</string>
			<key>icon</key>
			<string>icon_26</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>彩票</string>
			<key>icon</key>
			<string>icon_27</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>未来蚁来</string>
			<key>icon</key>
			<string>icon_28</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>蚂蚁花呗</string>
			<key>icon</key>
			<string>icon_29</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>芝麻信用</string>
			<key>icon</key>
			<string>icon_30</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>蚂蚁聚宝</string>
			<key>icon</key>
			<string>icon_31</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>保险服务</string>
			<key>icon</key>
			<string>icon_32</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>汇率换算</string>
			<key>icon</key>
			<string>icon_33</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>理财小工具</string>
			<key>icon</key>
			<string>icon_34</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>校园生活</string>
			<key>icon</key>
			<string>icon_35</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>教育缴费</string>
			<key>icon</key>
			<string>icon_36</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>上银汇款</string>
			<key>icon</key>
			<string>icon_23</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>爱心捐款</string>
			<key>icon</key>
			<string>icon_37</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>淘票票</string>
			<key>icon</key>
			<string>icon_38</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>外卖</string>
			<key>icon</key>
			<string>icon_39</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>天猫</string>
			<key>icon</key>
			<string>icon_40</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>淘宝</string>
			<key>icon</key>
			<string>icon_41</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>机票火车票</string>
			<key>icon</key>
			<string>icon_42</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>阿里旅行</string>
			<key>icon</key>
			<string>icon_43</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>超市惠</string>
			<key>icon</key>
			<string>icon_44</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>阿里体育</string>
			<key>icon</key>
			<string>icon_45</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>虾米音乐</string>
			<key>icon</key>
			<string>icon_46</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>安全快付</string>
			<key>icon</key>
			<string>icon_47</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>云市场</string>
			<key>icon</key>
			<string>icon_48</string>
		</dict>
		<dict>
			<key>url</key>
			<string></string>
			<key>title</key>
			<string>易积分</string>
			<key>icon</key>
			<string>icon_49</string>
		</dict>
	</array>
</array>
</plist>
